body{
  font-family: Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form1{
  position: relative;
  margin-bottom: 1%;
}
.form1 input,
.from1 textarea,
.form1 select{
  width:100%;
  padding:3px;
  box-sizing: border-box;
  border: none;
  border-color: solid blue;
  outline:none;
}

.form1 input:hover,
.form1 textarea:hover,
.form1 select:hover,
.form1 input:focus,
.form1 textarea:focus,
.form1 select:focus{
  border: 1px solid blue;
  border-radius: 5px;
}

.form2{
  position: relative;
  margin-bottom: 1%;
}
.form2 input,
.form2 textarea,
.form2 select{
  width: 100%;
  border: none;
  padding: 3px;
  outline: none;
}
.form2 input:hover,
.form2 textarea:hover,
.form2 select:hover,
.form2 input:focus,
.form2 textarea:focus,
.form2 select:focus{
  border: 1px solid blue;
  border-radius: 5px;
}

.form3left,.form3right{
  position: relative;
  margin-bottom: 1%;
}

.form3right input,
.form3right textarea,
.form3right select{
  border:none;
  padding: 3px;
  outline: none;
}

.form3left input:hover,
.form3left textarea:hover,
.form3left select:hover,
.form3left input:focus,
.form3left textarea:focus,
.form3left select:focus,
.form3right input:hover,
.form3right textarea:hover,
.form3right select:hover,
.form3right select:hover,
.form3right input:focus,
.form3right textarea:focus{
  border: 1px solid blue;
  border-radius: 5px;
}

.form3left input,
.form3left textarea,
.form3left select{
  border:none;
  padding: 3px;
  outline: none;
}

.grid1{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
}

.formcon3left,.forcon3right{
  display:flex;
flex-direction: column;
}

.pdfcontainer{
  height: 11in;
  background-color: white;
  padding: 1in;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-top: 2rem;
}
