body{
  font-family: Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form1{
  position: relative;
  margin-bottom: 1%;
}
.form1 input,
.from1 textarea,
.form1 select{
  width:100%;
  padding:3px;
  box-sizing: border-box;
  border: none;
  outline:none;
}

.form1 input:hover,
.form1 textarea:hover,
.form1 select:hover,
.form1 input:focus,
.form1 textarea:focus,
.form1 select:focus{
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: none;
}

.form2{
  position: relative;
  margin-bottom: 1%;
}
.form2 input,
.form2 textarea,
.form2 select{
  width: 100%;
  border: none;
  padding: 3px;
  outline: none;
}
.form2 input:hover,
.form2 textarea:hover,
.form2 select:hover,
.form2 input:focus,
.form2 textarea:focus,
.form2 select:focus{
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: none;
}

.form3left,.form3right{
  position: relative;
  margin-bottom: 1%;
}

.form3right input,
.form3right textarea,
.form3right select{
  border:none;
  padding: 3px;
}

.form3left input:hover,
.form3left textarea:hover,
.form3left select:hover,
.form3left input:focus,
.form3left textarea:focus,
.form3left select:focus,
.form3right input:hover,
.form3right textarea:hover,
.form3right select:hover,
.form3right input:focus,
.form3right textarea:focus{
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: none;
}

.form3left input,
.form3left textarea,
.form3left select{
  border:none;
  padding: 3px;
}

.grid1{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
}

.formcon3left,.forcon3right{
  display:flex;
flex-direction: column;
}

.pdfcontainer{
  height:auto;
  background-color: white;
  padding:2%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-top: 2rem;
}

.form4 input,
.form4 textarea,
.form4 select{
  padding:3px;
  border:none;
  outline:none;
}
.form4 input:hover,
.form4 input:focus,
.form4 select:hover,
.form4 select:focus,
.form4 textarea:hover,
.form4 textarea:focus{
  border: 1px solid blue;
  border-radius: 5px;
}


.editable{
  border:none;
  overflow:hidden;
}
.editable:focus,
.editable:hover{
  border:1px solid blue;
  border-radius: 5px;
  outline:none;
}
.full-width-textarea{
  position:relative;
  width:100%;
  box-sizing: border-box;
}

.form5 input,
.form5 textarea,
.form5 select{
  padding:3px;
  border:none;
  outline:none;
}
.form5 input:hover,
.form5 input:focus,
.form5 select:hover,
.form5 select:focus,
.form5 textarea:hover,
.form5 textarea:focus{
  border: 1px solid blue;
  border-radius: 5px;
}

.form6 input,
.form6 textarea,
.form6 select{
  padding:3px;
  border:none;
  outline:none;
}
.form6 input:hover,
.form6 input:focus,
.form6 select:hover,
.form6 select:focus,
.form6 textarea:hover,
.form6 textarea:focus{
  border: 1px solid blue;
  border-radius: 5px;
}

.footer-content {
  position: relative;
  bottom: 0;
  right: 0;
  text-align: right;
}

.footer-content img {
  width: 100px; 
}

.footer-content p {
  margin: 0;
  font-size: 0.8em; 
}